.webswing-fileDialogBar {
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding: 5px;
	width: 100%;
	max-width: 480px;
	border-top-width: 1px;
	border-top-style: solid;
	border-left-width: 1px;
	border-left-style: solid;
	border-top-left-radius: 10px;
	background-color: #fff;
	border-color: #ddd;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.webswing-fileDialogButtonRow {
	margin-right: 0 !important;
}

.webswing-fileUpload {
	position: relative;
	overflow: hidden;
}

.webswing-fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity =             0);
}

div[data-id="fileDropArea"] {
	border-style: dashed;
	border-color: #ccc;
	height: 30px;
	overflow: auto;
	margin-bottom: 5px;
}

div[data-id="fileDropArea"].in {
	height: 200px;
}

div[data-id="fileDropArea"] p {
	margin: 0 0 2px;
	padding-left: 10px;
	text-align: center;
}

.webswing-progress {
	margin-bottom: 0px;
}

.webswing-hidden {
	display: none;
}