<h2 class="sub-header">Running sessions 
    <div class="ws-update" ng-click="vm.refresh()">
        <span ng-class="{'glyphicon':true,'glyphicon-repeat':vm.timer != null,'glyphicon-refresh':vm.timer == null} "> </span>
        {{vm.lastUpdated| date:'h:mm:ss'}}
    </div>
</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No. (Id)</th>
                <th>User</th>
                <th>Application</th>
                <th>Start time</th>
                <th>Client status</th>
                <th>Used memory</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="session in vm.sessions">
                <td>
                    <span title="app Id: {{session.id}}" ui-jq="tooltip">{{$index + 1}}</span>
                </td>
                <td>
                    {{session.user}}
                </td>
                <td>
                    {{session.application}}
                </td>
                <td>
                    {{session.startedAt| date:'dd MMM h:mm:ss'}}
                </td>
                <td>
                    <div ng-switch on="session.connected">
                        <div ng-switch-when="true" >
                            <span  class="label label-success">Connected</span>
                        </div>
                        <div ng-switch-when="false" >
                            <span class="label label-danger" ui-jq="tooltip" title="Disconnected at {{session.disconnectedSince| date:'dd MMM h:mm:ss'}}">Disconnected</span>
                        </div>
                    </div>
                    <div ng-if="session.recording" >
                        <span class="glyphicon glyphicon-facetime-video" ui-jq="tooltip" title="Recording to {{session.recordingFile}}"></span> Recording...
                    </div>
                </td>
                <td>
        <progressbar  animate="false" max="session.state.heapSize" value="session.state.heapSizeUsed"><span style="color:black; white-space:nowrap;">{{(session.state.heapSizeUsed / session.state.heapSize * 100|number:1) +'%  '+(session.state.heapSizeUsed|number:1)+'MB/'+(session.state.heapSize|number:0)+'MB'}}</span></progressbar>
        </td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="vm.view(session)">
                <span class="glyphicon glyphicon-camera"></span> View
            </button>
        </td>
        </tr>
        </tbody>
    </table>
</div>

<h2 class="sub-header">Finished sessions</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No. (Id)</th>
                <th>User</th>
                <th>Application</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="session in vm.closedSessions">
                <td>
                    <span title="app Id: {{session.id}}" ui-jq="tooltip">{{$index + 1}}</span>
                </td>
                <td>
                    {{session.user}}
                </td>
                <td>
                    {{session.application}}
                </td>
                <td>
                    {{session.startedAt| date:'dd MMM h:mm:ss'}}
                </td>
                <td>
                    {{(session.endedAt| date:'dd MMM h:mm:ss')+ ' ('+(session.endedAt-session.startedAt | duration)+')'}}
                </td>
                <td>
                    <button ng-if="session.recorded" type="button" class="btn btn-primary" ng-click="vm.play(session)">
                        <span class="glyphicon glyphicon-play"></span> Play
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>